<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
</head>
<body>
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-message success">{{ flashMessage }}<a onclick="closeWin(this)" class="close" href="#"><i
                    class="fa fa-times fa-lg"></i></a></div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="flash-message error">{{ flashMessage }}<a onclick="closeWin(this)" class="close" href="#"><i
                    class="fa fa-times fa-lg"></i></a></div>
{% endfor %}
{% block content %}

{% endblock %}
</body>
</html>

